import tkinter as tk
from tkinter import messagebox

def checklength(password):
    count = 0
    for i in password:
        count += 1
    if count >= 8:
        return True

def upperlower(password):
    up = 0
    lo = 0
    for i in password:
        if 65 <= ord(i) <= 90:
            up = 1
        if 97 <= ord(i) <= 122:
            lo = 1
        
    if up == 1 and lo == 1:
        return True
    else:
        return False

def checkdigit(password):
    d = 0
    for i in password:
        if 48 <= ord(i) <= 57:
            d = 1
    if d == 1:
        return True

def checkspecial(password):
    special = "@#$%^&+=!()*{}[]:;<>,.?/~`-"
    for i in password:
        if i in special:
            return True
    return False

def passcomplex(password):
    score = 0
    if checklength(password):
        score += 1
    if upperlower(password):
        score += 1
    if checkdigit(password):
        score += 1
    if checkspecial(password):
        score += 1
    return score

def evaluate_password():
    password = entry_password.get()
    score = passcomplex(password)
    if score == 0:
        result = "very weakest password"
    elif score == 1:
        result = "weakest password"
    elif score == 2:
        result = "Normal password"
    elif score == 3:
        result = "Strong password"
    elif score == 4:
        result = "very Strong password"

    messagebox.showinfo("Password Evaluation", f"Password Score: {score}\n{result}")

# GUI Setup
window = tk.Tk()
window.title("Password Strength Checker")

label = tk.Label(window, text="Enter your Password:", font=("Arial", 14))
label.pack(pady=10)

entry_password = tk.Entry(window, show="*", width=30, font=("Arial", 12))
entry_password.pack(pady=10)

button = tk.Button(window, text="Check Password", command=evaluate_password, font=("Arial", 12))
button.pack(pady=10)

window.mainloop()
